<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/main/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400display=swap" rel="stylesheet">
	<title>Code for future</title>
</head>
<body>
	<!--NAVBAR-->
	<div class="navbar">
			<h1 class="nav-logo"><img src="../Project/img/navlogo.png"></h1>
			<nav id="navigation">
				<ul>
                    <li><a href="index.html">Ana səhifə</a></li>
                    <li><a href="beginners.html">Yeni başlayanlar</a></li>
                    <li><a href="pro.html">PRO</a></li>
					<li><a href="camps.html">Düşərgələr</a></li>
					<div class="button">
					<li><a href="login.html">Daxil ol</a></li>
					</div>
					</ul>
                </ul>

				<form class="search-form">
					<div class="input-group search-group">
					<input type="text" name="search" placeholder="Axtar..">
					<i class="fas fa-search"></i>
					</div>
				</form>  
			</nav>
            </div> 


			<!--Slider section  -->
            <section id="slider">
				<div class="wrapper">
			  
					<div class="slides-container">
					  <div class="slide-image">
						<img class="mySlides" src="../Project/img/img1.jpg">
						<img class="mySlides" src="../Project/img/img2.jpg">
						<img class="mySlides" src="../Project/img/img3.jpg">
					  </div>
					</div>
						<div class="slider-text">
							<h1> Gələcəyinizi Özünüz Kodlaşdırın</h1>
							<p>Bu layihənin əsas məqsədi gənc qızlara onları texnoloji <br>
								aləminə hazırlayaraq kodlaşdırmanı öyrətməkdir. <br>
								Proqramdakı qızlar, tətbiqetmə inkişafını və <br>
								sənayenin tələb etdiyi bacarıqları öyrənmək üçün  təlim alırlar.<br>
							 </p>
							
							
							 <div id="container">
								<a href="#" class="button1">View Plans</a>
								<a href="#" class="button2">Try for free</a>
							 </div>
				  </div>
			</section>

			<!-- Path section -->
          <section id="path">
			<div class="path-row">
				<div class="path-container">
				<div class="path-items">
				<div class="col">Path
				<p>Javascript</p> 
				<div class="path-courses">
					<span>5</span>
					Kurs
				</div>
				<a href="js.html">
				<img class="path-icon" src="../Project/img/js.png"> </a>
	            </div>
				<div class="col">Path
					<p>Angular</p> 
					<div class="path-courses">
						<span>7</span>
						Kurs
					</div>
					<a href="angular.html">
					<img class="path-icon" src="../Project/img/angular.png"> </a>
				</div>
				<div class="col">Path
					<p>Core Python</p>
					<div class="path-courses">
						<span>11</span>
						Kurs
					</div>
					<a href="python.html">
					<img class="path-icon" src="../Project/img/python.png"></a>
				</div>
				<div class="col">Path
					<p>C#</p> 
					<div class="path-courses">
						<span>12</span>
						Kurs
					</div>
					<a href="csharp.html">
					<img class="path-icon" src="../Project/img/csharp.png"></a>
				</div>
                     <div class="path-text">
						<div class="title-section">
							 <h5 class="pink-title">TREND TEXNOLOGİYALARI</h5>
							 <p class="white-title"> İndi öyrənmək üçün <br class="text">
							məşhur mövzular </p> 
							 <div class="mini-text">
							 <p>
								Hansı texnologiyalara diqqət yetirəcəyinizi bilmirsiniz?<br>
								Qrafiklərin üstündə nə olduğunu görün və bacarıqları artırmaq <br> 
								üçün tövsiyə olunan kursları əldə edin. <br>
							   
							   </p>
							 </div>
						   </div>
				          </div>
				</div>
				</div>
			  </div>
			  </div>
			  </div>
			   </div>
				</div>
				 </div>
		   </div>
            </section>

			<!-- Column-control section -->
			<section id="column-control">
				<div class="main-title">
					<h6 class="title-pink">
					SEE WHAT'S NEW
					</h6>
				</div>
				<div class="title-2">
					<h3 class="ultra-title">
						Our latest features for Skills and Flow
					</h3>
				</div>
				
				<div class="spacer section">
					<div class="spacer" style="height:15px;">
                </div>
				</div>
				<div class="container">
						<div class=" block-row">
							<div class="column">
								<div class="image" style="margin-right: 20px;">
								<img src="../Project/img/logo-skills.png" style=" max-height:20px; ">
								</div>
								<div class="block-title" style="margin-top: 20px;">
								<div class="title-txt">
									<h6>CERTIFICATIONS</h6>
								</div>
								</div>
							  <h2>Empower your teams to grow their skills and their careers</h2>
							  <p>Validate your team’s skills while showing them you’re <br>
								  invested in their growth. Our certification coverage aligns <br>
								  business-critical skill development to top technology objectives in cloud, IT, security and Agile methodologies. </p>
							</div>
							<div class="column">
								<div class="image" style="margin-right: 20px;">
									<img src="../Project/img/logo-flow.png" style=" max-height:20px; ">
									</div>
									<div class="block-title" style="margin-top: 20px;">
										<div class="title-txt">
											<h6>DELIVERY MODULE</h6>
										</div>
										</div>
							  <h2>Make lasting workflow improvements <br>
								  with insights from your Jira data</h2>
							  <p>Go beyond Jira data and get visibility into what’s happening <br>
								  within your user stories, tasks and bugs. Flow’s delivery <br>
								  module helps you better understand how your <br>
								  team is working and can make lasting improvements <br>
								  to your workflow.</p>
							</div>
						  </div>
				</div> 
                  <div class="generic-block section" style="height: 100%;">
                 <div class="generic-container">
					 <div class="generic-column">
						 <img src="../Project/img/image-res.img.f500f2ee-2100-4630-b61e-3a98e789da2f.png">
					 </div>
					 <div class="pink-orange">
					 <div class="generic-column">
					<div class="image-res" style="padding-left: 0px;
					padding-right: 0px;">
					<img src="../Project/img/vm.png" style="max-width: 100px; height: auto; display: inline-block;
					vertical-align: middle;">
					<h4>Winning the talent war with <br>
						a scalable tech skills platform</h4>
                    </div>
					<div class="white-text">
						<p>Evolving a 20-year-old company, increasing <br>
							innovation and accelerating time to delivery <br>
							requires fresh skills. See how VMware’s globally <br>
							dispersed teams use Pluralsight to leverage the <br>
							latest developments in technology as they find <br>
							new ways to serve customers.</p>
					</div>
					</div>
					</div>
				 </div>
				</div>
				</div>
			</section>
			 <!--footer-->
                               <footer class="footer">
                               <div class="ftr-container">
								<div class="row">
                                <div class="footer-col">
											<ul>
												<li><a href="about.html">Haqqımızda</a></li>
												<li><a href="gallery.html">Media</a></li>
												<li><a href="#">Komandamız</a></li>

											</ul>
										</div>

										<div class="footer-col">
											<ul>
												<li><a href="#">Bloq</a></li>
												<li><a href="#">Karyera</a></li>
												<li><a href="#">Tövsiyə</a></li>
											</ul>
										</div>

										<div class="footer-col">
											<ul>
												<li><a href="#">Məsuliyyət</a></li>
												<li><a href="#">Xidmətlər</a></li>
												<li><a href="#">Təhlükəsizlik</a></li>
											</ul>
										</div>

										<div class="footer-col">
											<ul>
											<li><a href="#">Əlaqə</a></li>
						                    <li><a href="#">Dəstək</a></li>
						                    <li><a href="#">FAQ</a></li>
											</ul>
										</div>
										<div class="footer-col">
										<div class="social-links">
											<a href="#"><i class="fab fa-facebook-f"></i></a>
											<a href="#"><i class="fab fa-twitter"></i></a>
											<a href="#"><i class="fab fa-instagram"></i></a>
											<a href="#"><i class="fab fa-linkedin-in"></i></a>
							   </div>
							   </div>
								</div>
								</div>  
							   </footer>
							   <script type="text/javascript" src="../Project/js/app.js"></script>
						        </body>
                                </html> 

      